<ion-header>
  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
    <ion-buttons end>
      <button (click)="close()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form [ngFormModel]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)">

      <ion-item [class.error]="!email.valid && email.touched">
          <ion-label floating>email</ion-label>
          <ion-input type="text" value="" [ngFormControl]="email"></ion-input>
      </ion-item>
      <div *ngIf="email.hasError('required') && email.touched"
              class="error-box">* email is required!</div>
      <div *ngIf="email.hasError('minlength') && email.touched"
          class="error-box">* Minimum email length is 8!</div>
      <div *ngIf="email.hasError('EmailValidator') && email.touched"
          class="error-box">* Email is not in valid format</div>

      <br/><br/>
      <button type="submit" class="custom-button" [disabled]="!forgotPasswordForm.valid" block large>Send Email</button>
    </form>
</ion-content>

